@model IEnumerable<DataModel.QuestionAnswersDataModel>

@{
    ViewData["Title"] = "_QuestionAnswers";
}

<h1>_uestion Answers</h1>


<table class="table">
    <thead>
        <tr>
            <th>
              
            </th>
            <th>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCorrext)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="visibility:hidden">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td style="visibility:hidden">
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => item.AnswerText)
                @Html.ValidationMessageFor(modelItem => item.AnswerText)
            </td>
            <td>
                @Html.RadioButton("IsCorrext", item.IsCorrext, new { name = "rbCorectAnswer" })
            </td>

        </tr>
}
    </tbody>
</table>
